---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me — Sunil M Pai">
  <div class="grid">
    <div class="profile-image">
      <img src="/about-photo.jpg" alt="Young Sunil on computer" />
    </div>
    <div class="bio">
      <h1>About Me</h1>
      <p>I grew up in Edmond, Oklahoma. Since I can remember, I was always fascinated by technology. After school, I spent hours on Napster, customizing Winamp skins, and chatting with strangers in AIM rooms.</p>

      <p>My first job was as a dish boy at Panera Bread®. I made $6.92 an hour. To this day, their broccoli & cheddar soup still warms my heart.</p>

      <p>I was a competitive policy (CX) debater in high school. My love for debate and politics took me to the Bay Area for school. After graduating, I spent a few years in technology strategy consulting before joining DFJ (now Threshold Ventures). There, I got to meet and help invest in Founders building iconic businesses—companies like SpaceX, Planet Labs, Box, Talkdesk, Rippling, BetterUp, Twilio, and others. I also met and (regrettably) passed on plenty of great opportunities—InstaCart, Robinhood, and many more.</p>

      <p>I joined AngelList as employee twenty-something. Over the years, we launched multiple products across different business lines and scaled the platform to support over $125B in assets. During my time there, I led Sales, Growth, Partnerships, and Product—just about every part of the business except engineering.</p>

      <p>Today, I co-run <a href="https://www.angelcollective.com" target="_blank">Angel Collective</a> fund and serve as a hands-on Advisor to several startups. See <a href="/investing">"Investing"</a> for more.</p>
    </div>
  </div>
</Layout>

