---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bookmarks — Sunil M Pai">
  <div class="profile-image">
    <img src="/roots.jpg" alt="Tree with roots" />
  </div>

  <p>A collection of blue links that have stuck with me or inspired me—ideas, music, moments, and insights that return to me often. I like the idea of this being a living document. If anything here sparks something in you, let me know.</p>

  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=Lb1Gc8jiubc&t=3s" target="_blank">John Carpenter – Who Wants To Be A Millionaire</a><br />
      Intellectual swagger.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=7ffbFvKlWqE" target="_blank">Bill Clinton vs. George H.W. Bush – Debate</a><br />
      Bill Clinton answers a question from the audience, Bush whiffs.
    </li>
    <li>
      <a href="https://dn790002.ca.archive.org/0/items/NietzscheTruthLiesInANonmoralSense1873/Nietzsche%20-%20Truth%20%26%20Lies%20in%20a%20Nonmoral%20Sense%20%281873%29.pdf" target="_blank">Friedrich Nietzsche – On Truth and Lies in a Nonmoral Sense</a><br />
      The human intellect in nature.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=LCSN7WwV534&pp=ygULd2hpcGxhc2ggY2w%3D" target="_blank">Whiplash</a><br />
      What does Greatness require?
    </li>
    <li>
      <a href="https://soundcloud.com/wholesum/this-is-water-by-david-foster" target="_blank">David Foster Wallace – This is Water</a><br />
      This speech can change the way you perceive reality. I listen to it many times a year.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=46-WNPlCYsg" target="_blank">Morning Routine</a><br />
      Patrick Bateman worked so Bryan Johnson could run.
    </li>
    <li>
      <a href="https://www.edge.org/response-detail/11783" target="_blank">What Scientific Concept Would Improve Everyone's Cognitive Toolkit?</a><br />
      What we can all learn from professional wrestling.
    </li>
    <li>
      <a href="https://www.regardingwork.com/2011/09/01/100-ways-to-get-more-done/" target="_blank">100 Ways to Get More Done</a><br />
      To the point productivity.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=CJUoQMNbA0g" target="_blank">The Ludicrously Capacious Bag</a><br />
      Disgusting brothers.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=8ndwyrfL-W8" target="_blank">Handwriting and Calligraphy Basics</a><br />
      The forgotten art of patience and precision.
    </li>
      <li>
        <a href="https://www.youtube.com/watch?v=cJMwBwFj5nQ" target="_blank">Bruce Lee – Be Water, My Friend</a><br />
        Water can flow or it can crash.
      <li>
      <a href="https://www.youtube.com/watch?v=aeu6Vj3M0EI&t=5s" target="_blank">John Mayer – Talking Watches Hodinkee Interview</a><br />
      Going deep into a hobby is cool.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=wupToqz1e2g" target="_blank">Pale Blue Dot</a><br />
      Perspective is everything.
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=nllmm7Q4sj0" target="_blank">The Prodigy – Breathe</a><br />
      High energy, chaotic, warehouse crew motivation.
    </li>
    <li>
      <a href="https://dilbertblog.typepad.com/the_dilbert_blog/2007/06/the_day_you_bec.html" target="_blank">The Day You Become A Better Writer</a><br />
      Just like it says. You’ll become a better writer after you read this.
    </li>
  </ul>
</Layout>
