---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sunil M Pai">
  <div class="grid">
    <div class="profile-image">
      <img src="/profile.jpg" alt="Sunil Pai" />
    </div>
    <div class="bio">
      <div class="signature-heading">
        <p>I'm</p>
        <img src="/sunil.svg" alt="Sunil's signature" class="signature" />
      </div>
      <p>Hi there. I’m interested in startups, investing, and culture. I studied politics and philosophy—both of which still shape how I think.</p>
      <p>I enjoy reading and aim to start writing. If you're interested in connecting, reach out on <a href="https://x.com/sunilpai" target="_blank">Twitter/X.</a></p>
    </div>
  </div>
</Layout>
