---
import Layout from '../layouts/Layout.astro';
import Substrate from '../components/Substrate.astro';
---

<Layout title="Sunil M Pai">
  <div class="grid">
    <div class="profile-image">
      <img src="/profile.jpg" alt="Sunil Pai" />
    </div>
    <div class="bio">
      <div class="signature-heading">
        <p>I'm</p>
        <img src="/sunil.svg" alt="Sunil's signature" class="signature" />
      </div>
      <p>I'm an <span class="investor-bracket">{'{'}</span>early stage + late stage + private market + public market<span class="investor-bracket">{'}'}</span> investor based in San Francisco.</p>
      <p>I studied politics and philosophy in school. They both have stuck with me and shape how I think. My two favorite books are Milan Kundera's <em>The Unbearable Lightness of Being</em> and Hermann Hesse's <em>Siddhartha</em>.</p>
      <p>I play a lot of blitz chess online, but you can also find me at the Mechanics Institute downtown.</p>
      <p>Feel free to wander. If you're interested in connecting, reach out on <a href="https://x.com/sunilpai" target="_blank">Twitter/X.</a></p>
    </div>
  </div>

  <Substrate />

</Layout>
