---
import Layout from '../layouts/Layout.astro';
import Substrate from '../components/Substrate.astro';
---

<Layout title="Sunil M Pai">
  <div class="grid">
    <div class="profile-image">
      <img src="/profile.jpg" alt="Sunil Pai" />
    </div>
    <div class="bio">
      <div class="signature-heading">
        <p>I'm</p>
        <img src="/sunil.svg" alt="Sunil's signature" class="signature" />
      </div>
      <p>I’m interested in company building, investing, and strategy games. I studied politics and philosophy—both of which still shape how I think.</p>
      <p>I enjoy reading and aim to start writing <a href="https://www.sunilmpai.com/blog" target="_blank">here</a>. This will be a living collection of updates and topics I’m exploring — you'll find some fully developed ideas, but many still growing.
        <p>Feel free to wander.  If you're interested in connecting, reach out on <a href="https://x.com/sunilpai" target="_blank">Twitter/X.</a></p>
    </div>
  </div>

  <Substrate />

</Layout>
