---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Interests — Sunil M Pai">
  <div class="grid">
    <div class="profile-image">
      <img src="/interests-art.jpg" alt="Artwork collage with JFK" />
    </div>

    <div class="bio">
      <h1>Interests</h1>
      <p>Outside of work, here are some personal interests that I love to chat about. My tastes run both highbrow and lowbrow.</p>
      <ul>
        <li><strong>Chess.</strong> As a kid, I played a lot. I was once the state champion for my division. I’m slowly but surely building my ELO.</li>
        <li><strong>Philosophy.</strong> I studied Continental philosophy and loved reading Friedrich Nietzsche, Hannah Arendt, Gilles Deleuze, Emmanuel Levinas, and others. More recently, I've been branching into Analytic philosophy and reading Wittgenstein and Bertrand Russell.</li>
        <li><strong>Psychology and personality types.</strong> My vibe (astrological sign): Taurus. My behavior (Myers-Briggs): INTJ. My science (Big Five): I rank High on Openness & Conscientiousness. Moderate on Extraversion. Low on Agreeableness & Neuroticism. I’m an Enneagram Type 5. My color test says I'm a Deep Autumn—medium-deep value, warm-neutral undertone, moderate chroma, and medium-high contrast.</li>
        <li><strong>Conspiracy theories.</strong> Let’s go down the rabbit hole.</li>
        <li><strong>Reality TV.</strong> Hopelessly addicted to Love is Blind, Selling Sunset, Dubai Bling, 90 Day Fiance, Farmer Wants a Wife, The Ultimatum, and others in the genre.</li>
        <li><strong>Handpan.</strong> During quarantine, I learned how to play the handpan. I have a D Hijaz 10.</li>
        <li><strong>Charcoal drawing.</strong> I’m a beginner but love the practice.</li>
        <li><strong>CCP (Chicken pot pie!).</strong> I’m on a quest to find the best chicken pot pie. If you have any suggestions, I’m all ears.</li>
      </ul>
      <p>I think I might like making things out of wood, but I haven't tried that yet.</p>

      <h1>Non-Interests</h1>
      <p>Soft and hard passes.</p>
      <ul>
        <li><strong>Housecats.</strong> I'm allergic to cats and I don't like their temperament either.</li>
        <li><strong>Sports.</strong> I don't enjoy watching most sports. However, I can muster up some interest if the stakes are high (e.g., it's a playoff game or I'm betting on the outcome).</li>
        <li><strong>Red Meat.</strong> I don't eat beef. I grew up avoiding it for religious reasons. Post-college, I'm open to it but never really developed a taste for steak or burgers.</li>
      </ul>
    </div>
  </div>
</Layout>
