---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Investing — Sunil M Pai">
  <h1 class="text-3xl font-bold leading-tight mt-12 mb-4">Investing</h1>
  <p>I began my individual investing career as a scout for Lightspeed Venture Partners. They trusted my instincts and gave me a pool of capital to invest at my sole discretion. That fund is the highest performing scout fund in the program's history.</p>
  <p> Since 2019, my angel track record is a 8x DPI (distributed 8+ times the capital originally invested) and on track to reach 13.5x when fully realized.</p>

  <p>In addition to my personal investments, I run <a href="https://www.angelcollective.com/" target="_blank" rel="noopener noreferrer">Angel Collective</a> with my partner, <a href="https://www.linkedin.com/in/candito/" target="_blank" rel="noopener noreferrer">Nick Candito</a>. 
    I believe investing other peoples' money is a privilege and a responsibility. While the industry average is a 1-3% GP commitment (skin-in-the-game), I commit 15%+ of my own capital alongside my investors. I believe incentives are just as important as investment strategies. At Angel Collective, we look for breakout potential hidden in pre-seed/seed stage portfolios. Our funds are performing in the top decile of their respective vintages.</p>
  </p
  

  <h2 class="text-3xl font-bold leading-tight mt-12 mb-4">Advising</h2>
  <p>I serve as a hands-on advisor to several startups:</p>
  <ul class="list-disc pl-5">
    <li><a href="https://www.akashsystems.com/" target="_blank" rel="noopener noreferrer">Akash Systems</a> – An AI infrastructure company leveraging diamond-based thermal management.</li>
    <li><a href="https://daylightcomputer.com/" target="_blank" rel="noopener noreferrer">Daylight Computer</a> – A new kind of computer, designed for deep focus and wellbeing.</li>
    <li><strong>[Stealth]</strong> – A fintech incubation out of a $B+ fund.</li>
    <li><strong>[Stealth]</strong> – A human+machine assistant company.</li>
  </ul>

  <h2 class="text-3xl font-bold leading-tight mt-12 mb-4">What I Look For</h2>
  <p>I love investing because I love being in dialogue with people who are at the pinnacle of their fields. I am a founder-driven investor and have invested in everything from early stage B2B SaaS to an oil refinery project in The Gambia.</p>
  <p>I like to help founders with growth/distribution, product, operational discipline, and fundraising.</p>
  <p>I work best with founders that communicate transparently, are often technical or very structured in their thinking, and operate with a high degree of agency.</p>
</Layout>
