---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Right to Founder Mode">
  <h1>The Right to Founder Mode</h1>
  <p>In a startup, I believe there can only be one Founder. Of course, there are many cases of successful companies that nominally have two (mostly the case), three (CEO, CTO, COO?), four (+CPO??), or as many as seven <a href="https://www.forbes.com.au/news/innovation/anthropics-pending-60-billion-valuation-will-make-all-seven-cofounders-billionaires/" target="_blank" rel="noopener noreferrer">https://www.forbes.com.au/news/innovation/anthropics-pending-60-billion-valuation-will-make-all-seven-cofounders-billionaires/</a> (hey, the road to AGI has parents.)
    But, all of those co-founders are founders only in name. What makes a "Founder"? Why is Founder mode valuable? There is something ineffable about being there early.
    No, there can only be 1 true Founder.
    That Founder bears the brunt of the business. They have put the most on the line.
    In those cases, it is always important to keep them in the seat.
    
    Someone who was there at the inception. Many CoFounders?</p>
</Layout> 