---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Right to Founder Mode">
  <h1>The Right to Founder Mode</h1>
  <p>Since Brian Chesky came out with the term "Founder mode." Not "CEO mode." Silicon Valley often mythologizes the role of the Founder. The lore of Steve Jobs returning to Apple after he was fired is a classic example. "Founders Fund" and many fast follower VC firms have centered their brand on being explicitly pro-Founder.
    The argument is generally that the Founder chooses to start a company, stemming from a deep problem that they experienced. They looked for a solution, and absent something else in the market, they made the decision to build it themselves. The Founder is generally the one that a) came up with the idea for the company b) sacrificed personal and financial capital to turn the idea into a reality c) recruits the initial team to build the company. 
    SV mythology embues the Founder with irrational, ineffable, untranferrable qualities. Anyone who comes. But, Jack Dorsey says a company has many Founding moments. Founding and re-founding. 
    In a startup, I believe there can only be one Founder. Of course, there are many cases of successful companies that nominally have two (mostly the case), three (CEO, CTO, COO?), four (+CPO??), or as many as <a href="https://www.forbes.com.au/news/innovation/anthropics-pending-60-billion-valuation-will-make-all-seven-cofounders-billionaires/" target="_blank" rel="noopener noreferrer">seven</a> (hey, the road to AGI has parents.)


    But, all of those co-founders are founders only in name. What makes a "Founder"? Why is Founder mode valuable? There is something ineffable about being there early.

    No, there can only be 1 true Founder.
    Who is the CEO?

    That Founder bears the brunt of the business. They have put the most on the line.
    In those cases, it is always important to keep them in the seat.
    
    Someone who was there at the inception. Many CoFounders?</p>
</Layout> 