---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Right to Founder Mode">
  <h1>The Right to Founder Mode</h1>
  <p>What makes a "Founder"? Why is Founder mode valuable? There is something ineffable about being there early.
    No, there can only be 1 true Founder.
    That Founder bears the brunt of the business. They have put the most on the line.
    In those cases, it is always important to keep them in the seat.
    
    Someone who was there at the inception. Many CoFounders?</p>
</Layout> 