---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Interests — Sunil M Pai">
  <div class="grid">
    <div class="profile-image">
      <img src="/interests-art.jpg" alt="Artwork collage with JFK" />
    </div>
    <div class="bio">
      <h1>Interests</h1>
      <p>Outside of work, here are some personal interests that I love to chat about:</p>
      <ul>
        <li><strong>Chess.</strong> As a kid, I played a lot. I was once the state champion for my division. I’m slowly but surely building my ELO.</li>
        <li><strong>Continental Philosophy.</strong> Friedrich Nietzsche, Hannah Arendt, Gilles Deleuze, Emmanuel Levinas, and more.</li>
        <li><strong>Psychology and personality types.</strong> My vibe (astrological sign): Taurus. My behavior (Myers-Briggs): INTJ. My science (Big Five): I’m OCEAN. I’m an Enneagram Type 5.</li>
        <li><strong>Conspiracy theories.</strong> Let’s go down the rabbit hole.</li>
        <li><strong>Handpan.</strong> During Quarantine, I learned how to the handpan. I have a D Hijaz 10.</li>
        <li><strong>Charcoal drawing.</strong> I’m a beginner but love the practice.</li>
        <li><strong>CCP (Chicken pot pie!).</strong> I’m on a quest to find the best chicken pot pie. If you have any suggestions, I’m all ears.</li>
      </ul>
    </div>
  </div>
</Layout>
